.form-wrapper {}

.form-control:focus {
	color: unset;
	background-color: unset;
	border-color: #0059b0;
	outline: unset;
	box-shadow: unset;
}
.form-control.active, .form-control.active:focus {border-color: #0059b0;}
.form-control.error, .form-control.error:focus {border-color: #a70404;}
.form-wrapper table .apikey {margin-right: .5em;}
.form-wrapper table {width: 100%; border: 1px solid #ddd;}
.form-wrapper table td {padding: .75em; border-bottom: 1px solid #dfdfdf;}
.form-wrapper table td.title {width: 180px;} /*  */
.form-wrapper table td.require::after {display: inline-block; content: '*'; color: #f10; margin-left: .5em; font-size: 1.25em;}

.form-wrapper .valid {padding-top: .5em; color: #0059b0;}
.form-wrapper .valid.error {color: #a70404;}

.form-wrapper textarea {height: 200px; overflow-y: auto;}

@media screen and (max-width: 767px) {
  .form-wrapper table td.title {display: none;}
}

@media screen and (max-width: 575px) {
  .form-wrapper table .apikey {width: 100%; margin-bottom: 1em; margin-right: 0;}
  .form-wrapper table #btApikey {width: 100%;}
}