<link rel="stylesheet" href="/css/board-default.css">
<article class="board-container default-type view-page">
  <table class="table">
    <tbody>
      <tr>
        <td class="title">제목</td>
        <td class="content">공지사항입니다.</td>
      </tr>
      <tr>
        <td class="title">작성자</td>
        <td class="content">관리자</td>
      </tr>
      <tr>
        <td class="title">작성일</td>
        <td class="content">2021-10-28 11:13:08</td>
      </tr>
      <tr>
        <td colspan="2">
          모든 국민은 그 보호하는 자녀에게 적어도 초등교육과 법률이 정하는 교육을 받게 할 의무를 진다. 여자의 근로는 특별한 보호를 받으며, 고용·임금 및 근로조건에 있어서 부당한 차별을 받지 아니한다.

          대통령의 선거에 관한 사항은 법률로 정한다. 농업생산성의 제고와 농지의 합리적인 이용을 위하거나 불가피한 사정으로 발생하는 농지의 임대차와 위탁경영은 법률이 정하는 바에 의하여 인정된다.

          대한민국은 국제평화의 유지에 노력하고 침략적 전쟁을 부인한다. 대통령은 전시·사변 또는 이에 준하는 국가비상사태에 있어서 병력으로써 군사상의 필요에 응하거나 공공의 안녕질서를 유지할 필요가 있을
          때에는 법률이 정하는 바에 의하여 계엄을 선포할 수 있다.

          모든 국민은 헌법과 법률이 정한 법관에 의하여 법률에 의한 재판을 받을 권리를 가진다. 국회의원은 법률이 정하는 직을 겸할 수 없다. 모든 국민은 법 앞에 평등하다. 누구든지 성별·종교 또는 사회적
          신분에 의하여 정치적·경제적·사회적·문화적 생활의 모든 영역에 있어서 차별을 받지 아니한다.
        </td>
      </tr>
    </tbody>
  </table>
</article>